<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2>First Name_=> <span th:text="${mentor.firstName}"></span> </h2>
    <h2>Last Name__=> <span th:text="${mentor.lastName}"></span> </h2>
    <h2>Email______=> <span th:text="${mentor.email}"></span> </h2>
    <h2>Gender_____=> <span th:text="${mentor.gender}"></span> </h2>
    <h2>Graduation_=> <span th:text="${mentor.graduated}"></span></h2>
    <h2>Batch______=> <span th:text="${mentor.batch}"></span></h2>
    <h2>Company____=> <span th:text="${mentor.company}"></span></h2>


</body>
</html>